<ul class="menu">
	<li><a href="#/user">Profile</a></li>
	<li><a href="#/search">Search</a></li>
</ul>
<h3>{{model.title}}</h3>
answered? {{model.is_answered}}
<div ng-bind-html="model.body"></div>
<a href="{{owner.link}}" target="_blank">
	{{model.owner.displayName}} {{model.owner.reputation}}
	<img ng-src="{{model.owner.profile_image}}"/>
</a>
<ul>
	<li ng-repeat="tag in model.tags">
		{{tag}}
	</li>
</ul>

<ul>
	<li ng-repeat="answer in model.answers">
		<div ng-bind-html="answer.body"></div>
	</li>
</ul>