body {
  background-image: url("../images/bnet-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

input {
  color: @gray-darker;
}

.container {
  padding-bottom: 2em;
}

nav.navbar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.question-box {
  background-color: #425366;
  border: solid 1px #425366;
  margin-bottom: 2em;

  .question-box-interior {
    background-color: #24364b;
  }
}

.label {
  border-radius: 0;
  color: @brand-primary;
}
.label.tag {
  margin-right: 0.6em;
}

.align-center {
  text-align: center;
}