<div class="ng-hide animated" ng-show="model.$resolved" ng-class="{'fadeIn':model.$resolved}">
<div class="row">
	<div class="col-md-4">
		<div class="row">
			<div class="col-m-12 align-center">
				<img class="img-thumbnail" ng-src="{{model.profile_image}}"/>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3>{{model.display_name}}</h3>
		<h4>Level {{model.reputation}}</h4>
		member since {{model.creation_date * 1000 | date : 'MM/dd/yyyy'}}<br/>
		{{model.website_url}}<br/>
	</div>
	<div class="col-md-4 align-center">
		<h4>Activity tags</h4>
		<div class="word-cloud">
			<span class="cloud-item" ng-repeat="tag in tags.items | orderBy:'name'" ng-style="{'font-size': (((100 / tags.largestCount) * tag.count) / 30) + .75 + 'em'}">{{tag.name}}</span>
		</div>
		<button class="btn btn-sm btn-default" ng-click="searchTags()">Search similar</button>
	</div>

</div>

<div class="page-header">
	<h1>Badges</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<span class="label label-default tag" ng-repeat="badge in badges">
			{{badge.name}}
		</span>
	</div>
</div>

<div class="page-header">
	<h1>Recent activity</h1>
</div>

<div class="row question-box">
	<div class="col-md-2 align-center" ng-repeat="item in timeline">
		<h4>{{item.timeline_type}}</h4>
		{{item.creation_date * 1000 | date : 'MM/dd/yyyy'}}
		<p>
			{{item.title}}
			{{item.detail}}
		</p>
	</div>
</div>

<div class="page-header">
	<h1>Favorites</h1>
</div>

<div class="row">
	<div class="col-md-12 question-box" ng-repeat="item in favorites">
		<div class="row">
			<div class="col-md-1 align-center results-quickinfo">
				{{item.up_vote_count}}<br/>
				vote
			</div>
			<div class="col-md-1 align-center results-quickinfo">
				{{item.answer_count}}<br/>
				answers
			</div>
			<div class="col-md-10 question-box-interior">
				<a href="#/question/{{item.question_id}}"><h4 class="title">{{item.title}}</h4></a>
				<h4>
					<span class="label label-default tag" ng-repeat="tag in item.tags">
						{{tag}}
					</span>
					{{item.view_count}} since {{item.creation_date * 1000 | date : 'MM/dd/yyyy'}}
				</h4>
			</div>
		</div>
	</div>
</div>
</div>