<div class="row">
	<div class="col-md-4">
		<div class="row question-box">
			<div class="col-m-12 align-center">
				<img ng-src="{{model.profile_image}}"/>
			</div>
			<div class="col-m-12 align-center">
				<h4>{{model.display_name}}</h4>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Level {{model.reputation}}</h4>
		member since {{model.creation_date * 1000 | date : 'MM/dd/yyyy'}}<br/>
		{{model.website_url}}<br/>
	</div>
	<div class="col-md-4">
	</div>

</div>

<div class="row">
	<div class="col-md-12">
		<h3>
			<span class="label label-default tag" ng-repeat="badge in badges">
				{{badge.name}}
			</span>
		</h3>
	</div>
</div>

<div class="page-header">
	<h1>Recent activity</h1>
</div>

<div class="row">
	<div class="col-md-2 align-center" ng-repeat="item in timeline">
		<h4>{{item.timeline_type}}</h4>
		{{item.creation_date * 1000 | date : 'MM/dd/yyyy'}}
		<p>
			{{item.title}}
			{{item.detail}}
		</p>
	</div>
</div>

<div class="page-header">
	<h1>Favorites</h1>
</div>

<div class="row">
	<div class="col-md-12 question-box" ng-repeat="item in favorites">
		<div class="row">
			<div class="col-md-1 align-center">
				{{item.up_vote_count}}<br/>
				vote
			</div>
			<div class="col-md-1 align-center">
				{{item.answer_count}}<br/>
				answers
			</div>
			<div class="col-md-10 question-box-interior">
				<a href="#/question/{{item.question_id}}"><h4>{{item.title}} {{item.creation_date * 1000 | date : 'MM/dd/yyyy'}}</h4></a>
				<h4>
					<span class="label label-default tag" ng-repeat="tag in item.tags">
						{{tag}}
					</span>
				</h4>
			</div>
		</div>
	</div>
</div>