<div class="row">
	<div class="col-md-4">
		<img ng-src="{{model.profile_image}}"/>
		{{model.display_name}}
	</div>
	<div class="col-md-4">
		<h4>Level {{model.reputation}}</h4>
		{{model.website_url}}
		{{model.about_me}}
	</div>
	<div class="col-md-4">
	</div>

</div>

<div class="row">
	<div class="col-md-12">
		<ul>
			<li ng-repeat="badge in badges">
				{{badge.name}}
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-2" ng-repeat="item in timeline">
		{{item.timeline_type}}
		{{item.creation_date}}
		{{item.title}}
		{{item.detail}}
	</div>
</div>